
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Navbar Brand - Logo with Text*/

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}


/** Boostrap Navbar **/

.navbar-default {
  background-color: #2075be;
  border-color: #2b56c0;
}
.navbar-default .navbar-brand {
  color: #fafcfc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #bbfff1;
}
.navbar-default .navbar-text {
  color: #fafcfc;
}
.navbar-default .navbar-nav > li > a {
  color: #fafcfc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bbfff1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2075be;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fafcfc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #bbfff1;
  background-color: #2b56c0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2b56c0;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #bbfff1;
  background-color: #2b56c0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #bbfff1;
  background-color: #2b56c0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #bbfff1;
  background-color: #2b56c0;
}
.navbar-default .navbar-toggle {
  border-color: #2b56c0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2b56c0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fafcfc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fafcfc;
}
.navbar-default .navbar-link {
  color: #fafcfc;
}
.navbar-default .navbar-link:hover {
  color: #bbfff1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fafcfc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bbfff1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bbfff1;
    background-color: #2b56c0;
  }
}



