<div class="container-fluid" style="margin-top:70px">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">Angular 2 / Web API / SQL Server</h1>
      <p class="lead">This is a sample application that is written in Angular 2 and performs a simple Restful Service call that accesses
        factory information via ASP.NET Core version 1.0. The backend database consist of SQL Server 2016 and is accesed via ASP.NET Core Web API.
      </p>
      <p>Select the "Factory Information" menu option an select a machine from
        the "machine" dropdown option, then click machine link to drill down to planned machine 
        detailed data.
      </p>
    </div>
  </div>
</div><!--/.container-->
